/tests/testdata/
/.pytest_cache/
/rds_cache/
/tests/.pytest_cache/
/dqpanalysis/rds_cache/
/.idea
*.pyc
qobjevo_compiled_coeff*
*.pdf
*.ipynb_checkpoints
*.egg-info
*.gif
*.html
*.h5
*.csv
/__pycache__
/.ipynb_checkpoints/
*/__pycache__
*/.ipynb_checkpoints
*.DS_Store
*b_fits.pkl